@import '../../../styles/variables';

.header {
    padding: 1.25rem 0;
    background-color: $primary-color;
    color: $text-color;

    &-logo {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    &-nav {
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                margin: 0 1.25rem;
                a {
                    padding: 0.25rem;
                    text-decoration: none;
                    color: $text-color;
                    opacity: 0.85;
                    transition: all linear 0.1s;
                    font-size: 1rem;

                    &:hover {
                        opacity: 1;
                        transition: all linear 0.1s;
                    }
                }

                button {
                    font-size: 1rem;
                    border: none;
                    color: $text-color;
                    border-radius: $border-radius;
                    background-color: $warn-color;
                    padding: 0.5rem 0.65rem;
                    opacity: 0.85;
                    transition: all linear 0.1s;

                    &:hover {
                        transition: all linear 0.1s;
                        opacity: 1;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
