<header class="header">
    <div class="container">
        <div class="row">
            <h1 class="header-logo">Logo</h1>
            <nav class="header-nav">
                <ul>
                    <li>
                        <a routerLink="/">Home</a>
                    </li>
                    <li>
                        <a routerLink="/login">Login</a>
                    </li>
                    <li>
                        <a routerLink="/sign-up">Sign up</a>
                    </li>
                    <li>
                        <button (click)="logout()">Logout</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
