@import '../../../styles/variables';

footer {
    background-color: $accent-color;
    color: $text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}
